<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Login</title>
</head>
<body>
    <h2>Admin Login</h2>

    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Kirish</button>
    </form>

    {% if form.errors %}
        <div style="color:red;">
            {{ form.errors }}
        </div>
    {% endif %}
</body>
</html>
